fuzzino-src/model/fuzzingRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://fuzzino.fuzzing.fokus.fraunhofer.de/request" xmlns:request="http://fuzzino.fuzzing.fokus.fraunhofer.de/request" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" ecore:documentRoot="XmlRequestDocument">
    <xs:element name="request">
        <xs:complexType ecore:name="Request" ecore:serializable="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:string" ecore:name="stringRequests"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:number" ecore:name="numberRequests"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:structure" ecore:name="structureRequests"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:collection" ecore:name="collectionRequests"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:closeRequest" ecore:name="closeRequests"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="string" ecore:ignore="true">
        <xs:complexType ecore:name="StringRequest" ecore:serializable="true">
            <xs:sequence>
                <xs:element minOccurs="0" ref="request:specification"/>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element minOccurs="1" maxOccurs="1" ref="request:noGenerators" ecore:name="noGenerators"/>
                	<xs:element minOccurs="0" maxOccurs="unbounded" ref="request:generator" ecore:name="generators"/>                
                </xs:choice>
                <xs:element minOccurs="0" ref="request:validValues" ecore:name="validValues"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NCName" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="maxValues" use="required" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="name" use="required" type="xs:ID" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="seed" type="xs:long" ecore:suppressedUnsetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="number" ecore:ignore="true">
        <xs:complexType ecore:name="NumberRequest" ecore:serializable="true">
            <xs:sequence>
                <xs:element minOccurs="0" ref="request:specification"/>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element minOccurs="1" maxOccurs="1" ref="request:noGenerators" ecore:name="noGenerators"/>
                	<xs:element minOccurs="0" maxOccurs="unbounded" ref="request:generator" ecore:name="generators"/>                
                </xs:choice>
                <xs:element minOccurs="0" ref="request:validValues"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NCName" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="maxValues" use="required" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="name" use="required" type="xs:ID" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="seed" type="xs:long" ecore:suppressedUnsetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="structure" ecore:ignore="true">
        <xs:complexType ecore:name="StructureRequest" ecore:serializable="true">
            <xs:sequence>
                <xs:element ref="request:specification" minOccurs="0"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:operator" ecore:name="operators"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NCName" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="fuzzStructure" type="xs:boolean" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="fuzzValues" type="xs:boolean" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="maxMutations" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="minMutations" type="xs:int" default="1" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="name" use="required" type="xs:ID" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="maxValues" use="required" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="seed" type="xs:long" ecore:suppressedUnsetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="collection" ecore:ignore="true">
        <xs:complexType ecore:name="CollectionRequest" ecore:serializable="true">
            <xs:sequence>
                <xs:element ref="request:specification"/>
                <xs:element minOccurs="0" ref="request:validCollections" ecore:name="validCollections"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:NCName" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="fuzzStructure" use="required" type="xs:boolean" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="fuzzValues" use="required" type="xs:boolean" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="maxMutations" use="required" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="maxValues" use="required" type="xs:int" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="minMutations" type="xs:int" default="1" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="name" use="required" type="xs:ID" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="seed" type="xs:long" ecore:suppressedUnsetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="validCollections" ecore:ignore="true">
        <xs:complexType ecore:name="ValidCollections" ecore:serializable="true">
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="request:validCollection" ecore:name="values"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:operator" ecore:name="operators"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="validCollection" ecore:ignore="true">
        <xs:complexType ecore:name="ValidCollection" ecore:serializable="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:value"/>
            </xs:sequence>
            <xs:attribute name="name" use="required" type="xs:ID"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="closeRequest" ecore:ignore="true">
        <xs:complexType ecore:name="CloseRequest" ecore:serializable="true">
            <xs:attribute name="id" use="required" type="xs:NCName" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="specification" ecore:ignore="true">
        <xs:complexType mixed="true" ecore:name="RequestSpecification" ecore:serializable="true">
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:field"/>
            </xs:sequence>
            <xs:attribute name="bits" type="xs:int" default="32" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="encoding" type="xs:NCName" default="ASCII" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="maxLength" type="xs:int" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="maxValue" type="xs:integer" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="minLength" type="xs:int" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="minValue" type="xs:integer" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="nullTerminated" type="xs:boolean" default="false" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="ordered" type="xs:boolean" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="ref" type="xs:IDREF" ecore:suppressedUnsetVisibility="true"/>
            <xs:attribute name="signed" type="xs:boolean" default="true" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="type" type="xs:NCName" default="String" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="unique" type="xs:boolean" ecore:suppressedUnsetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="field" ecore:ignore="true">
        <xs:complexType ecore:name="Field" ecore:serializable="true">
            <xs:attribute name="fuzz" type="xs:boolean" default="true" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
            <xs:attribute name="ref" use="required" type="xs:IDREF" ecore:suppressedUnsetVisibility="true" ecore:suppressedIsSetVisibility="true"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="generator" ecore:ignore="true">
        <xs:complexType ecore:name="Generator">
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="param" type="xs:string" ecore:suppressedUnsetVisibility="true"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="validValues" ecore:ignore="true">
        <xs:complexType ecore:name="ValidValues" ecore:serializable="true">
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="request:value" ecore:name="values"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="request:operator" ecore:name="operators"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="operator" ecore:ignore="true">
        <xs:complexType ecore:name="Operator">
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attribute name="param" type="xs:string" ecore:suppressedUnsetVisibility="true"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="value" type="xs:string" ecore:ignore="true"/>
    <xs:element name="noGenerators" ecore:ignore="true">
        <xs:complexType ecore:name="NoGenerators"/>
    </xs:element>
</xs:schema>
