src/main/resources/schemas/request/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="request" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import schemaLocation="schema2.xsd"/>

  <xs:element name="request" type="requestImpl"/>


  <xs:complexType name="fieldImpl">
    <xs:sequence/>
    <xs:attribute name="correspondingId" type="xs:string"/>
    <xs:attribute name="fuzzField" type="xs:boolean" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:schema>

