src/main/resources/schemas/response/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="response" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="fieldImpl">
    <xs:sequence/>
    <xs:attribute name="correspondingId" type="xs:string"/>
    <xs:attribute name="fuzz" type="xs:boolean" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:schema>

